# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [1]:
import pandas as pd

df = pd.read_csv("datasets/candydataset.csv")

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [2]:
df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [3]:
df.columns.tolist()

['Internal ID',
 'Q1: GOING OUT?',
 'Q2: GENDER',
 'Q3: AGE',
 'Q4: COUNTRY',
 'Q5: STATE, PROVINCE, COUNTY, ETC',
 'Q6 | 100 Grand Bar',
 'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
 'Q6 | Any full-sized candy bar',
 'Q6 | Black Jacks',
 'Q6 | Bonkers (the candy)',
 'Q6 | Bonkers (the board game)',
 'Q6 | Bottle Caps',
 "Q6 | Box'o'Raisins",
 'Q6 | Broken glow stick',
 'Q6 | Butterfinger',
 'Q6 | Cadbury Creme Eggs',
 'Q6 | Candy Corn',
 'Q6 | Candy that is clearly just the stuff given out for free at restaurants',
 'Q6 | Caramellos',
 'Q6 | Cash, or other forms of legal tender',
 'Q6 | Chardonnay',
 'Q6 | Chick-o-Sticks (we donâ€™t know what that is)',
 'Q6 | Chiclets',
 'Q6 | Coffee Crisp',
 'Q6 | Creepy Religious comics/Chick Tracts',
 'Q6 | Dental paraphenalia',
 'Q6 | Dots',
 'Q6 | Dove Bars',
 'Q6 | Fuzzy Peaches',
 'Q6 | Generic Brand Acetaminophen',
 'Q6 | Glow sticks',
 'Q6 | Goo Goo Clusters',
 "Q6 | Good N' Plenty",
 'Q6 | Gum from baseball cards',
 'Q6 | Gummy Bears straight up',
 'Q6 | Hard Candy',
 'Q6 | Healthy Fruit',
 'Q6 | Heath Bar',
 "Q6 | Hershey's Dark Chocolate",
 'Q6 | Hersheyâ€™s Milk Chocolate',
 "Q6 | Hershey's Kisses",
 'Q6 | Hugs (actual physical hugs)',
 'Q6 | Jolly Rancher (bad flavor)',
 'Q6 | Jolly Ranchers (good flavor)',
 'Q6 | JoyJoy (Mit Iodine!)',
 'Q6 | Junior Mints',
 'Q6 | Senior Mints',
 'Q6 | Kale smoothie',
 'Q6 | Kinder Happy Hippo',
 'Q6 | Kit Kat',
 'Q6 | LaffyTaffy',
 'Q6 | LemonHeads',
 'Q6 | Licorice (not black)',
 'Q6 | Licorice (yes black)',
 'Q6 | Lindt Truffle',
 'Q6 | Lollipops',
 'Q6 | Mars',
 'Q6 | Maynards',
 'Q6 | Mike and Ike',
 'Q6 | Milk Duds',
 'Q6 | Milky Way',
 'Q6 | Regular M&Ms',
 'Q6 | Peanut M&Mâ€™s',
 "Q6 | Blue M&M's",
 "Q6 | Red M&M's",
 "Q6 | Green Party M&M's",
 "Q6 | Independent M&M's",
 "Q6 | Abstained from M&M'ing.",
 'Q6 | Minibags of chips',
 'Q6 | Mint Kisses',
 'Q6 | Mint Juleps',
 'Q6 | Mr. Goodbar',
 'Q6 | Necco Wafers',
 'Q6 | Nerds',
 'Q6 | Nestle Crunch',
 "Q6 | Now'n'Laters",
 'Q6 | Peeps',
 'Q6 | Pencils',
 'Q6 | Pixy Stix',
 'Q6 | Real Housewives of Orange County Season 9 Blue-Ray',
 'Q6 | Reeseâ€™s Peanut Butter Cups',
 "Q6 | Reese's Pieces",
 'Q6 | Reggie Jackson Bar',
 'Q6 | Rolos',
 'Q6 | Sandwich-sized bags filled with BooBerry Crunch',
 'Q6 | Skittles',
 'Q6 | Smarties (American)',
 'Q6 | Smarties (Commonwealth)',
 'Q6 | Snickers',
 'Q6 | Sourpatch Kids (i.e. abominations of nature)',
 'Q6 | Spotted Dick',
 'Q6 | Starburst',
 'Q6 | Sweet Tarts',
 'Q6 | Swedish Fish',
 'Q6 | Sweetums (a friend to diabetes)',
 'Q6 | Take 5',
 'Q6 | Tic Tacs',
 'Q6 | Those odd marshmallow circus peanut things',
 'Q6 | Three Musketeers',
 'Q6 | Tolberone something or other',
 'Q6 | Trail Mix',
 'Q6 | Twix',
 'Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein',
 'Q6 | Vicodin',
 'Q6 | Whatchamacallit Bars',
 'Q6 | White Bread',
 'Q6 | Whole Wheat anything',
 'Q6 | York Peppermint Patties',
 'Q7: JOY OTHER',
 'Q8: DESPAIR OTHER',
 'Q9: OTHER COMMENTS',
 'Q10: DRESS',
 'Unnamed: 113',
 'Q11: DAY',
 'Q12: MEDIA [Daily Dish]',
 'Q12: MEDIA [Science]',
 'Q12: MEDIA [ESPN]',
 'Q12: MEDIA [Yahoo]',
 'Click Coordinates (x, y)']

In [4]:
df.shape

(2460, 120)

In [5]:
for col in df.columns:
    print(f" {df[col].value_counts(dropna=False)} {df[col].dtype} \n ")

 Internal ID
90258773    1
90281223    1
90281108    1
90281129    1
90281158    1
           ..
90276190    1
90276192    1
90276200    1
90276202    1
90314802    1
Name: count, Length: 2460, dtype: int64 int64

 Q1: GOING OUT?
No     2038
Yes     312
NaN     110
Name: count, dtype: int64 object

 Q2: GENDER
Male                  1467
Female                 839
I'd rather not say      83
NaN                     41
Other                   30
Name: count, dtype: int64 object

 Q3: AGE
40                 92
34                 90
37                 89
43                 86
NaN                84
                   ..
older than dirt     1
5u                  1
Enough              1
See question 2      1
60+                 1
Name: count, Length: 107, dtype: int64 object

 Q4: COUNTRY
USA                  699
United States        497
usa                  217
Canada               179
Usa                  139
                    ...
United Sates           1
unhinged states        1
Trumpistan             1
New York               1
Fear and Loathing      1
Name: count, Length: 129, dtype: int64 object

 Q5: STATE, PROVINCE, COUNTY, ETC
California           132
NaN                  100
CA                    89
Texas                 60
Ontario               56
                    ...
COLORADO               1
colorado, boulder      1
New Orleans la         1
Ky                     1
quÃ©bec                 1
Name: count, Length: 512, dtype: int64 object

 Q6 | 100 Grand Bar
JOY        873
MEH        755
NaN        747
DESPAIR     85
Name: count, dtype: int64 object

 Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)
DESPAIR    1089
NaN         734
MEH         461
JOY         176
Name: count, dtype: int64 object

 Q6 | Any full-sized candy bar
JOY        1559
NaN         672
MEH         212
DESPAIR      17
Name: count, dtype: int64 object

 Q6 | Black Jacks
NaN        958
DESPAIR    793
MEH        617
JOY         92
Name: count, dtype: int64 object

 Q6 | Bonkers (the candy)
NaN        992
MEH        857
DESPAIR    495
JOY        116
Name: count, dtype: int64 object

 Q6 | Bonkers (the board game)
NaN        1006
MEH         715
DESPAIR     546
JOY         193
Name: count, dtype: int64 object

 Q6 | Bottle Caps
NaN        765
MEH        670
DESPAIR    560
JOY        465
Name: count, dtype: int64 object

 Q6 | Box'o'Raisins
DESPAIR    1179
NaN         688
MEH         476
JOY         117
Name: count, dtype: int64 object

 Q6 | Broken glow stick
DESPAIR    1625
NaN         706
MEH         105
JOY          24
Name: count, dtype: int64 object

 Q6 | Butterfinger
JOY        1177
NaN         682
MEH         460
DESPAIR     141
Name: count, dtype: int64 object

 Q6 | Cadbury Creme Eggs
JOY        820
NaN        683
MEH        562
DESPAIR    395
Name: count, dtype: int64 object

 Q6 | Candy Corn
DESPAIR    743
NaN        678
MEH        561
JOY        478
Name: count, dtype: int64 object

 Q6 | Candy that is clearly just the stuff given out for free at restaurants
DESPAIR    1325
NaN         691
MEH         405
JOY          39
Name: count, dtype: int64 object

 Q6 | Caramellos
JOY        953
NaN        752
MEH        592
DESPAIR    163
Name: count, dtype: int64 object

 Q6 | Cash, or other forms of legal tender
JOY        1439
NaN         680
MEH         276
DESPAIR      65
Name: count, dtype: int64 object

 Q6 | Chardonnay
JOY        1040
NaN         743
MEH         360
DESPAIR     317
Name: count, dtype: int64 object

 Q6 | Chick-o-Sticks (we donâ€™t know what that is)
NaN        946
DESPAIR    644
MEH        571
JOY        299
Name: count, dtype: int64 object

 Q6 | Chiclets
DESPAIR    761
MEH        744
NaN        711
JOY        244
Name: count, dtype: int64 object

 Q6 | Coffee Crisp
NaN        853
MEH        592
DESPAIR    541
JOY        474
Name: count, dtype: int64 object

 Q6 | Creepy Religious comics/Chick Tracts
DESPAIR    1406
NaN         704
JOY         246
MEH         104
Name: count, dtype: int64 object

 Q6 | Dental paraphenalia
DESPAIR    1433
NaN         692
MEH         244
JOY          91
Name: count, dtype: int64 object

 Q6 | Dots
NaN        729
DESPAIR    664
MEH        657
JOY        410
Name: count, dtype: int64 object

 Q6 | Dove Bars
JOY        1176
NaN         702
MEH         474
DESPAIR     108
Name: count, dtype: int64 object

 Q6 | Fuzzy Peaches
NaN        823
DESPAIR    676
MEH        559
JOY        402
Name: count, dtype: int64 object

 Q6 | Generic Brand Acetaminophen
DESPAIR    1176
NaN         731
MEH         391
JOY         162
Name: count, dtype: int64 object

 Q6 | Glow sticks
MEH        703
NaN        697
JOY        612
DESPAIR    448
Name: count, dtype: int64 object

 Q6 | Goo Goo Clusters
NaN        879
MEH        708
DESPAIR    464
JOY        409
Name: count, dtype: int64 object

 Q6 | Good N' Plenty
DESPAIR    742
NaN        734
MEH        576
JOY        408
Name: count, dtype: int64 object

 Q6 | Gum from baseball cards
DESPAIR    1462
NaN         716
MEH         238
JOY          44
Name: count, dtype: int64 object

 Q6 | Gummy Bears straight up
JOY        748
NaN        697
MEH        584
DESPAIR    431
Name: count, dtype: int64 object

 Q6 | Hard Candy
MEH        907
NaN        695
DESPAIR    586
JOY        272
Name: count, dtype: int64 object

 Q6 | Healthy Fruit
DESPAIR    855
NaN        694
MEH        683
JOY        228
Name: count, dtype: int64 object

 Q6 | Heath Bar
JOY        1069
NaN         712
MEH         466
DESPAIR     213
Name: count, dtype: int64 object

 Q6 | Hershey's Dark Chocolate
JOY        1105
NaN         673
MEH         507
DESPAIR     175
Name: count, dtype: int64 object

 Q6 | Hersheyâ€™s Milk Chocolate
JOY        896
NaN        672
MEH        667
DESPAIR    225
Name: count, dtype: int64 object

 Q6 | Hershey's Kisses
JOY        834
MEH        726
NaN        678
DESPAIR    222
Name: count, dtype: int64 object

 Q6 | Hugs (actual physical hugs)
DESPAIR    889
NaN        713
JOY        433
MEH        425
Name: count, dtype: int64 object

 Q6 | Jolly Rancher (bad flavor)
DESPAIR    1061
NaN         694
MEH         607
JOY          98
Name: count, dtype: int64 object

 Q6 | Jolly Ranchers (good flavor)
JOY        747
NaN        695
MEH        638
DESPAIR    380
Name: count, dtype: int64 object

 Q6 | JoyJoy (Mit Iodine!)
NaN        1026
DESPAIR     956
MEH         402
JOY          76
Name: count, dtype: int64 object

 Q6 | Junior Mints
JOY        1020
NaN         698
MEH         496
DESPAIR     246
Name: count, dtype: int64 object

 Q6 | Senior Mints
NaN        942
DESPAIR    895
MEH        472
JOY        151
Name: count, dtype: int64 object

 Q6 | Kale smoothie
DESPAIR    1435
NaN         744
MEH         173
JOY         108
Name: count, dtype: int64 object

 Q6 | Kinder Happy Hippo
NaN        945
DESPAIR    570
JOY        503
MEH        442
Name: count, dtype: int64 object

 Q6 | Kit Kat
JOY        1447
NaN         674
MEH         287
DESPAIR      52
Name: count, dtype: int64 object

 Q6 | LaffyTaffy
NaN        736
MEH        729
DESPAIR    545
JOY        450
Name: count, dtype: int64 object

 Q6 | LemonHeads
NaN        730
MEH        690
JOY        670
DESPAIR    370
Name: count, dtype: int64 object

 Q6 | Licorice (not black)
MEH        707
NaN        686
JOY        557
DESPAIR    510
Name: count, dtype: int64 object

 Q6 | Licorice (yes black)
DESPAIR    902
NaN        685
JOY        543
MEH        330
Name: count, dtype: int64 object

 Q6 | Lindt Truffle
JOY        1277
NaN         718
MEH         367
DESPAIR      98
Name: count, dtype: int64 object

 Q6 | Lollipops
MEH        931
NaN        691
DESPAIR    474
JOY        364
Name: count, dtype: int64 object

 Q6 | Mars
JOY        1026
NaN         725
MEH         587
DESPAIR     122
Name: count, dtype: int64 object

 Q6 | Maynards
NaN        1024
MEH         709
DESPAIR     579
JOY         148
Name: count, dtype: int64 object

 Q6 | Mike and Ike
NaN        729
MEH        647
DESPAIR    550
JOY        534
Name: count, dtype: int64 object

 Q6 | Milk Duds
JOY        878
NaN        693
MEH        639
DESPAIR    250
Name: count, dtype: int64 object

 Q6 | Milky Way
JOY        1185
NaN         688
MEH         485
DESPAIR     102
Name: count, dtype: int64 object

 Q6 | Regular M&Ms
JOY        1122
NaN         675
MEH         588
DESPAIR      75
Name: count, dtype: int64 object

 Q6 | Peanut M&Mâ€™s
JOY        1291
NaN         671
MEH         377
DESPAIR     121
Name: count, dtype: int64 object

 Q6 | Blue M&M's
JOY        1018
NaN         727
MEH         595
DESPAIR     120
Name: count, dtype: int64 object

 Q6 | Red M&M's
JOY        1001
NaN         729
MEH         606
DESPAIR     124
Name: count, dtype: int64 object

 Q6 | Green Party M&M's
JOY        972
NaN        764
MEH        587
DESPAIR    137
Name: count, dtype: int64 object

 Q6 | Independent M&M's
NaN        813
JOY        757
MEH        626
DESPAIR    264
Name: count, dtype: int64 object

 Q6 | Abstained from M&M'ing.
NaN        942
DESPAIR    693
MEH        607
JOY        218
Name: count, dtype: int64 object

 Q6 | Minibags of chips
MEH        759
NaN        724
JOY        537
DESPAIR    440
Name: count, dtype: int64 object

 Q6 | Mint Kisses
NaN        776
MEH        644
JOY        619
DESPAIR    421
Name: count, dtype: int64 object

 Q6 | Mint Juleps
JOY        904
NaN        811
DESPAIR    413
MEH        332
Name: count, dtype: int64 object

 Q6 | Mr. Goodbar
JOY        857
NaN        740
MEH        643
DESPAIR    220
Name: count, dtype: int64 object

 Q6 | Necco Wafers
DESPAIR    805
NaN        744
MEH        558
JOY        353
Name: count, dtype: int64 object

 Q6 | Nerds
JOY        769
NaN        723
MEH        609
DESPAIR    359
Name: count, dtype: int64 object

 Q6 | Nestle Crunch
JOY        1188
NaN         698
MEH         472
DESPAIR     102
Name: count, dtype: int64 object

 Q6 | Now'n'Laters
NaN        817
MEH        725
DESPAIR    557
JOY        361
Name: count, dtype: int64 object

 Q6 | Peeps
DESPAIR    1085
NaN         710
MEH         426
JOY         239
Name: count, dtype: int64 object

 Q6 | Pencils
DESPAIR    1076
NaN         709
MEH         494
JOY         181
Name: count, dtype: int64 object

 Q6 | Pixy Stix
NaN        722
MEH        649
DESPAIR    546
JOY        543
Name: count, dtype: int64 object

 Q6 | Real Housewives of Orange County Season 9 Blue-Ray
DESPAIR    1480
NaN         753
MEH         136
JOY          91
Name: count, dtype: int64 object

 Q6 | Reeseâ€™s Peanut Butter Cups
JOY        1498
NaN         679
MEH         188
DESPAIR      95
Name: count, dtype: int64 object

 Q6 | Reese's Pieces
JOY        1136
NaN         691
MEH         465
DESPAIR     168
Name: count, dtype: int64 object

 Q6 | Reggie Jackson Bar
NaN        1014
MEH         706
DESPAIR     486
JOY         254
Name: count, dtype: int64 object

 Q6 | Rolos
JOY        1151
NaN         714
MEH         455
DESPAIR     140
Name: count, dtype: int64 object

 Q6 | Sandwich-sized bags filled with BooBerry Crunch
DESPAIR    1151
NaN         776
MEH         322
JOY         211
Name: count, dtype: int64 object

 Q6 | Skittles
JOY        829
NaN        706
MEH        604
DESPAIR    321
Name: count, dtype: int64 object

 Q6 | Smarties (American)
JOY        729
NaN        725
MEH        581
DESPAIR    425
Name: count, dtype: int64 object

 Q6 | Smarties (Commonwealth)
NaN        901
MEH        605
JOY        539
DESPAIR    415
Name: count, dtype: int64 object

 Q6 | Snickers
JOY        1399
NaN         690
MEH         292
DESPAIR      79
Name: count, dtype: int64 object

 Q6 | Sourpatch Kids (i.e. abominations of nature)
JOY        770
NaN        738
DESPAIR    511
MEH        441
Name: count, dtype: int64 object

 Q6 | Spotted Dick
DESPAIR    1140
NaN         882
MEH         310
JOY         128
Name: count, dtype: int64 object

 Q6 | Starburst
JOY        853
NaN        693
MEH        615
DESPAIR    299
Name: count, dtype: int64 object

 Q6 | Sweet Tarts
JOY        783
NaN        708
MEH        610
DESPAIR    359
Name: count, dtype: int64 object

 Q6 | Swedish Fish
JOY        754
NaN        715
MEH        542
DESPAIR    449
Name: count, dtype: int64 object

 Q6 | Sweetums (a friend to diabetes)
NaN        1002
DESPAIR     763
MEH         544
JOY         151
Name: count, dtype: int64 object

 Q6 | Take 5
NaN        917
MEH        613
JOY        577
DESPAIR    353
Name: count, dtype: int64 object

 Q6 | Tic Tacs
DESPAIR    754
MEH        728
NaN        714
JOY        264
Name: count, dtype: int64 object

 Q6 | Those odd marshmallow circus peanut things
DESPAIR    1252
NaN         736
MEH         283
JOY         189
Name: count, dtype: int64 object

 Q6 | Three Musketeers
JOY        1058
NaN         708
MEH         518
DESPAIR     176
Name: count, dtype: int64 object

 Q6 | Tolberone something or other
JOY        1320
NaN         706
MEH         350
DESPAIR      84
Name: count, dtype: int64 object

 Q6 | Trail Mix
DESPAIR    836
NaN        708
MEH        688
JOY        228
Name: count, dtype: int64 object

 Q6 | Twix
JOY        1413
NaN         690
MEH         286
DESPAIR      71
Name: count, dtype: int64 object

 Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein
DESPAIR    1146
NaN         792
MEH         289
JOY         233
Name: count, dtype: int64 object

 Q6 | Vicodin
NaN        789
DESPAIR    723
JOY        707
MEH        241
Name: count, dtype: int64 object

 Q6 | Whatchamacallit Bars
JOY        840
NaN        823
MEH        509
DESPAIR    288
Name: count, dtype: int64 object

 Q6 | White Bread
DESPAIR    1455
NaN         757
MEH         204
JOY          44
Name: count, dtype: int64 object

 Q6 | Whole Wheat anything
DESPAIR    1289
NaN         747
MEH         307
JOY         117
Name: count, dtype: int64 object

 Q6 | York Peppermint Patties
JOY        1105
NaN         705
MEH         418
DESPAIR     232
Name: count, dtype: int64 object

 Q7: JOY OTHER
NaN                                                                        1549
Almond Joy                                                                   10
Beer                                                                         10
Sex                                                                           3
beer                                                                          3
                                                                           ...
Caramel m&ms, anything caramel                                                1
Drop: Dutch Salty Licorice                                                    1
Actual caramel or otherwise candy coated apples, hot cocoa                    1
THE LIQUOR! Especially this year.                                             1
Tiny bottles of maple syrup as given out by Cracker Barrel restaurants        1
Name: count, Length: 868, dtype: int64 object

 Q8: DESPAIR OTHER
NaN                                                      1743
Trump                                                       7
Pennies                                                     3
Tootsie Rolls                                               3
Almond Joy, Mounds                                          3
                                                         ...
Those wax liquid filled lips or coke bottle thingies!       1
Nuts.                                                       1
Not chocolaye                                               1
Pretzels                                                    1
Capers                                                      1
Name: count, Length: 686, dtype: int64 object

 Q9: OTHER COMMENTS
NaN                                                                                                                                                                                                                                                                  2074
nom nom nom!                                                                                                                                                                                                                                                            2
As I do not know what around half of those items (candy or otherwise) are, I do not think I took this servay to its fullest extent. Please also excuse my appreciation for Sour Patch.                                                                                  1
Vicodin really?                                                                                                                                                                                                                                                         1
If you give out full-sized anything (candy, food, drinks, etc), you are going straight to Heaven.                                                                                                                                                                       1
                                                                                                                                                                                                                                                                     ...
People grow up and start lying about hating candy corn. Those babies FLY out of the office candy bowl.                                                                                                                                                                  1
Devastated not to see ANY acknowledgement of Almond Joy candy bars. They were what would get me out of bed and into costume to roam the streets begging for candy.                                                                                                      1
Being a Canadian living in the US I have a severe lack of understanding why the fuck guns are legal but Kinder Eggs are not. We need a Kinder Eggs lobby here....Kinder Eggs don't killed people....yada, yada, yada..... VIVA THE KINDER EGG!!!!!! <end of rant>       1
Realy. Candy corn is proof that there is a supernatural source of evil that wants us to be unhappy.                                                                                                                                                                     1
You hit all my chocolate highlights, and brought back memories of stupid candy like those cardboard tasting orange circus peanuts!                                                                                                                                      1
Name: count, Length: 386, dtype: int64 object

 Q10: DRESS
White and gold    1081
NaN                744
Blue and black     635
Name: count, dtype: int64 object

 Unnamed: 113
NaN                                                                        2451
dress (https://survey.ubc.ca/media/assets/user/14372/storage/dress.png)       9
Name: count, dtype: int64 object

 Q11: DAY
Friday    1091
NaN        725
Sunday     644
Name: count, dtype: int64 object

 Q12: MEDIA [Daily Dish]
NaN    2375
1.0      85
Name: count, dtype: int64 float64

 Q12: MEDIA [Science]
1.0    1362
NaN    1098
Name: count, dtype: int64 float64

 Q12: MEDIA [ESPN]
NaN    2361
1.0      99
Name: count, dtype: int64 float64

 Q12: MEDIA [Yahoo]
NaN    2393
1.0      67
Name: count, dtype: int64 float64

 Click Coordinates (x, y)
NaN         855
(77, 24)      9
(77, 26)      8
(80, 28)      7
(77, 30)      7
           ...
(24, 53)      1
(28, 75)      1
(20, 77)      1
(36, 67)      1
(19, 26)      1
Name: count, Length: 953, dtype: int64 object

In [6]:
df.isnull().sum()

Internal ID                    0
Q1: GOING OUT?               110
Q2: GENDER                    41
Q3: AGE                       84
Q4: COUNTRY                   64
                            ...
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
Length: 120, dtype: int64

# 3- write summary about what you get form the above functions
> #### tips : this summary can be about : if there is any missing values , if there a wrong data type , if there a wrong range of values , ....

- there is a lot of missing data everywhere and some columns are nearly empty
- the age column should be integer and there is text data in it that is nonrelavent
- same country/state is written in diffrent ways 
- there is an empty unamed column
- there is useless columns

# cleaning

### 4- drop all the useless columns and  rows with too much NaN ,
> tip : useless columns can be like `Internal ID`and can be also columns with too much NaN
- rename columns for easy access

In [7]:
# dropping useless columns
df.drop(columns=["Internal ID", "Click Coordinates (x, y)", "Unnamed: 113"], inplace=True)

In [8]:
def delete_semi_Empty_cols(df):
    half_empty_cols = []
    for col in df.columns:
        if df[col].isnull().sum()/df.shape[0] > 0.35:
            half_empty_cols.append(col)
    df.drop(columns=half_empty_cols, inplace=True)
    return df

delete_semi_Empty_cols(df)
df.shape

(2460, 95)

### 5 - clean `going out` column
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [9]:
df = df.dropna(subset=["Q5: STATE, PROVINCE, COUNTY, ETC", "Q4: COUNTRY", "Q1: GOING OUT?", "Q3: AGE"])

### 6 - clean ` gender` column
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [10]:
df["Q2: GENDER"] = df["Q2: GENDER"].replace({'Male':0, 'Female':1, "I'd rather not say": 3, 'Other':4}).fillna(-1)
pd.to_numeric(df["Q2: GENDER"])

C:\Users\samam\AppData\Local\Temp\ipykernel_30328\1071635832.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Q2: GENDER"] = df["Q2: GENDER"].replace({'Male':0, 'Female':1, "I'd rather not say": 3, 'Other':4}).fillna(-1)

1       0.0
3       0.0
4       0.0
6       0.0
7       0.0
       ...
2455    0.0
2456    1.0
2457    1.0
2458    0.0
2459    1.0
Name: Q2: GENDER, Length: 2252, dtype: float64

### 7 - clean ` age` column
> tip : note the type of age column , and NaN values
 - try to use `to_numeric`
 - tip : you should choose which best value to put in place of these NaNs ( mean, median, ....etc)

In [11]:
from sklearn.impute import SimpleImputer
df["Q3: AGE"] = pd.to_numeric(df["Q3: AGE"], errors="coerce")

imputer = SimpleImputer(strategy="mean")
df["Q3: AGE"] = imputer.fit_transform(df[["Q3: AGE"]])
pd.to_numeric(df["Q3: AGE"])

1       44.0
3       40.0
4       23.0
6       53.0
7       33.0
        ...
2455    24.0
2456    33.0
2457    26.0
2458    58.0
2459    66.0
Name: Q3: AGE, Length: 2252, dtype: float64

### 8 - clean ` country` column
> tip : note that country column has country names with different writing ways
  - use fuzzywuzzy to deal with this problem
  - you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [12]:
from fuzzywuzzy import fuzz
country_list = ["United States", "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Argentina", "Armenia", 
                "Australia", "Austria", "Brazil", "Canada", "China", "Egypt", "France", "Germany", "India", "Italy", 
                "Japan", "United Kingdom", "Saudi Arabia", "South Africa"]


abbreviation_map = {
    "us": "United States",
    "usa": "United States",
    "u.s.a": "United States",
    "uk": "United Kingdom",
    "england": "United Kingdom",
    "brasil": "Brazil",
    "uae": "United Arab Emirates",
    "korea": "South Korea"
}

def process_country(country_name):
    if pd.isna(country_name): 
        return None
    country_name.strip().lower()

    if country_name in abbreviation_map:
        return abbreviation_map[country_name]

    best_match = max(
        [(country, fuzz.partial_ratio(country_name, country.lower())) for country in country_list],
        key=lambda x: x[1]
    )
    
    return best_match
df["Q4: COUNTRY"] = df["Q4: COUNTRY"].apply(process_country)

### 9 - clean ` area` column
> tip : area column has the same problem as country columns , but looking at all it's unique values may give us another way to deal with it rather than try to fix it

In [13]:
state_list = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", 
    "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", 
    "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", 
    "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", 
    "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", 
    "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming", 
    "District of Columbia", "British Columbia", "Ontario", "Quebec", "Alberta", "Nova Scotia", "Manitoba",
    "Newfoundland and Labrador", "Prince Edward Island", "Saskatchewan", "New Brunswick"
]

state_map = {
    "ca": "California", "ny": "New York", "tx": "Texas", "co": "Colorado", "fl": "Florida", "nj": "New Jersey",
    "pa": "Pennsylvania", "nc": "North Carolina", "wa": "Washington", "dc": "District of Columbia", 
    "ontario": "Ontario", "bc": "British Columbia", "ab": "Alberta", "qc": "Quebec", "ri": "Rhode Island",
    "il": "Illinois", "mi": "Michigan", "oh": "Ohio", "va": "Virginia", "mo": "Missouri", "mn": "Minnesota",
    "ma": "Massachusetts", "in": "Indiana", "az": "Arizona", "or": "Oregon", "ga": "Georgia", "md": "Maryland",
    "wi": "Wisconsin", "la": "Louisiana", "nh": "New Hampshire", "vt": "Vermont", "tn": "Tennessee",
    "nv": "Nevada", "mt": "Montana", "ky": "Kentucky", "ar": "Arkansas", "id": "Idaho", "ia": "Iowa",
    "ms": "Mississippi", "nd": "North Dakota", "sd": "South Dakota", "me": "Maine", "ak": "Alaska",
    "al": "Alabama", "sc": "South Carolina", "nm": "New Mexico", "hi": "Hawaii", "ks": "Kansas", "ok": "Oklahoma",
    "ne": "Nebraska", "wy": "Wyoming", "wv": "West Virginia"
}

def process_state(state_name):

    state_name_normalized = state_name.strip().lower()

    if state_name_normalized in state_map:
        return state_map[state_name_normalized]

    best_match = max(
        [(state, fuzz.partial_ratio(state_name_normalized, state.lower())) for state in state_list],
        key=lambda x: x[1]
    )
    return best_match[0]

df["Q5: STATE, PROVINCE, COUNTY, ETC"] = df["Q5: STATE, PROVINCE, COUNTY, ETC"].apply(process_state)

### 10 - clean ` Q6` columns
>- tip : Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name , so you should go through all these column and you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [14]:
for col in df.columns:
    if "Q6" in col:
        df[col] = df[col].replace({'JOY': 2, 'MEH': 1, 'DESPAIR': 0}).fillna(-1)
        pd.to_numeric(df[col])

C:\Users\samam\AppData\Local\Temp\ipykernel_30328\2520062279.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace({'JOY': 2, 'MEH': 1, 'DESPAIR': 0}).fillna(-1)

### 11 - clean ` dress` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [15]:
df["Q10: DRESS"] = df["Q10: DRESS"].replace({'White and gold': 0, "Blue and black" : 1}).fillna(-1)
pd.to_numeric(df["Q10: DRESS"])

C:\Users\samam\AppData\Local\Temp\ipykernel_30328\1639166395.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Q10: DRESS"] = df["Q10: DRESS"].replace({'White and gold': 0, "Blue and black" : 1}).fillna(-1)

1       0.0
3       0.0
4       0.0
6      -1.0
7       1.0
       ...
2455    0.0
2456    1.0
2457    1.0
2458   -1.0
2459    0.0
Name: Q10: DRESS, Length: 2252, dtype: float64

### 12 - clean ` day` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [16]:
df["Q11: DAY"] = df["Q11: DAY"].replace({'Friday': 0, "Sunday" : 1}).fillna(-1)
pd.to_numeric(df["Q11: DAY"])

C:\Users\samam\AppData\Local\Temp\ipykernel_30328\2437616715.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Q11: DAY"] = df["Q11: DAY"].replace({'Friday': 0, "Sunday" : 1}).fillna(-1)

1       1.0
3       1.0
4       0.0
6      -1.0
7       0.0
       ...
2455    0.0
2456    0.0
2457    0.0
2458   -1.0
2459    1.0
Name: Q11: DAY, Length: 2252, dtype: float64

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values
- all the column are cleaing and ready for the next step `EDA`

In [17]:
df.isnull().sum()

Q1: GOING OUT?                      0
Q2: GENDER                          0
Q3: AGE                             0
Q4: COUNTRY                         0
Q5: STATE, PROVINCE, COUNTY, ETC    0
                                   ..
Q6 | White Bread                    0
Q6 | Whole Wheat anything           0
Q6 | York Peppermint Patties        0
Q10: DRESS                          0
Q11: DAY                            0
Length: 95, dtype: int64

In [18]:
df.dtypes

Q1: GOING OUT?                       object
Q2: GENDER                          float64
Q3: AGE                             float64
Q4: COUNTRY                          object
Q5: STATE, PROVINCE, COUNTY, ETC     object
                                     ...
Q6 | White Bread                    float64
Q6 | Whole Wheat anything           float64
Q6 | York Peppermint Patties        float64
Q10: DRESS                          float64
Q11: DAY                            float64
Length: 95, dtype: object

### 14 - write a summary about all the cleaning steps

- first I dropped rows that has null values of some columns where they are not too much so it'll not affect the dataset. 
- dropped the columns that has over 35% null values
- dropped useless columns
- switched some object columns with numeric values to be ready for the model
- changed the datatype of those columns